<p>Olá {{ courier }},</p>

<p>
  O pedido de número #{{ order }} foi cadastrado e esta
  disponível para retirada. Você pode fazê-la entre as 08:00
  e 18:00h de qualquer dia útil.
</p>

<p>
  <strong> Produto </strong> </br>
  Nome: {{ product }} </br>
  ID: #{{ order }} </br>
  </br>

  <strong> Recipiente </strong> </br>
  Nome: {{ recipientName }} </br>
  Email: {{ recipientEmail }} </br>
  </br>

  <strong> Endereço </strong> </br>
  Rua: {{ street }} </br>
  Número: {{ number }} </br>
  Complemento: {{ complement }} </br>
  Estado: {{ state }} </br>
  Cidade: {{ city }} </br>
  CEP: {{ zipCode }} </br>
  </br>
</p>